.footer{
    background-color:#000000;

}
h1{
     color:white;
}
h6{
    color:white;
    font-weight: lighter;
}

.img{
    width: 50px;
     background-color:white;
     border-radius: 40px;
}
.finalborder{
    border-bottom: solid 1px white;
}

.copyright{
    margin-left: 40%;
}