<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="container brd" >
            <h4 class="categories">Hombre</h4>
        </div>
        <div class="container brd">
            <h4 class="categories">Mujer</h4>
        </div>
        <div class="container brd">
            <h4 class="categories">Junior</h4>
        </div>
        <div class="container brd">
            <h4 class="categories">Niños</h4>
        </div>
        <div class="container brd">
            <h4 class="categories">Accesorios</h4>
        </div>
        <div class="container">
            <h4 class="categories">Ofertas</h4>
        </div>

    </div>
  </nav>