
.img-phone{
    display: none;
}


@media only screen and (max-width: 600px) {
      
    .img-phone{
        display: inline;
        width: 100%;
    }

    .img-fluid{
       display: none;
    }
  }